In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
f = open("새파일.txt","w")   # w, r, a
for i in range(1,10) : 
    data = f"이 데이터는 {i}입니다.\n"
    f.write(data)
    
f.close()

In [7]:
f = open("새파일.txt","r")
line = f.readline()
print(line)
f.close()

이 데이터는 1입니다.

In [9]:
f = open("새파일.txt", "r")
while True:
    line = f.readline()
    if not line: break
    print(line)
f.close()

이 데이터는 1입니다.

이 데이터는 2입니다.

이 데이터는 3입니다.

이 데이터는 4입니다.

이 데이터는 5입니다.

이 데이터는 6입니다.

이 데이터는 7입니다.

이 데이터는 8입니다.

이 데이터는 9입니다.

In [11]:
while True:
    data = input()
    if not data:break
    print(data)

은호
은호
은호
은호
은호
은호

In [13]:
f = open("새파일.txt", "r")
lines = f.readlines()
for line in lines:
    print(line.strip()) # 줄 끝의 줄 바꿈 문자를 제거한다.
f.close()

이 데이터는 1입니다.
이 데이터는 2입니다.
이 데이터는 3입니다.
이 데이터는 4입니다.
이 데이터는 5입니다.
이 데이터는 6입니다.
이 데이터는 7입니다.
이 데이터는 8입니다.
이 데이터는 9입니다.

In [15]:
f = open("새파일.txt", "r")
data = f.read()
print(data)
f.close()

# 파일의 내용 전체를 문자열로 리턴

이 데이터는 1입니다.
이 데이터는 2입니다.
이 데이터는 3입니다.
이 데이터는 4입니다.
이 데이터는 5입니다.
이 데이터는 6입니다.
이 데이터는 7입니다.
이 데이터는 8입니다.
이 데이터는 9입니다.

In [16]:
data

'이 데이터는 1입니다.\n이 데이터는 2입니다.\n이 데이터는 3입니다.\n이 데이터는 4입니다.\n이 데이터는 5입니다.\n이 데이터는 6입니다.\n이 데이터는 7입니다.\n이 데이터는 8입니다.\n이 데이터는 9입니다.\n'

In [17]:
f = open("새파일.txt", "r")
for line in f:
    print(line)
f.close()

이 데이터는 1입니다.

이 데이터는 2입니다.

이 데이터는 3입니다.

이 데이터는 4입니다.

이 데이터는 5입니다.

이 데이터는 6입니다.

이 데이터는 7입니다.

이 데이터는 8입니다.

이 데이터는 9입니다.

In [20]:
f = open("새파일.txt", "a")
for i in range(11,20):
    data = f"이 데이터는 {i}입니다.\n"
    f.write(data)
f.close()

In [22]:
f = open("새파일.txt", "r")
lines = f.readlines()
for line in lines:
    print(line)

이 데이터는 1입니다.

이 데이터는 2입니다.

이 데이터는 3입니다.

이 데이터는 4입니다.

이 데이터는 5입니다.

이 데이터는 6입니다.

이 데이터는 7입니다.

이 데이터는 8입니다.

이 데이터는 9입니다.

이 데이터는 12입니다.

이 데이터는 13입니다.

이 데이터는 14입니다.

이 데이터는 15입니다.

이 데이터는 16입니다.

이 데이터는 17입니다.

이 데이터는 18입니다.

이 데이터는 19입니다.

In [23]:
# with문과 함게

with open("새파일.txt", "a") as f:
    f.write("Life is too short, you need python")

In [24]:
f = open("새파일.txt", "r")
lines = f.readlines()
for line in lines:
    print(line)

이 데이터는 1입니다.

이 데이터는 2입니다.

이 데이터는 3입니다.

이 데이터는 4입니다.

이 데이터는 5입니다.

이 데이터는 6입니다.

이 데이터는 7입니다.

이 데이터는 8입니다.

이 데이터는 9입니다.

이 데이터는 12입니다.

이 데이터는 13입니다.

이 데이터는 14입니다.

이 데이터는 15입니다.

이 데이터는 16입니다.

이 데이터는 17입니다.

이 데이터는 18입니다.

이 데이터는 19입니다.

Life is too short, you need python

## 연습01

$  y = ax + b  $

$$  y = ax + b  $$

$$  \large  y = ax + b  $$

$$ \huge y = ax + b  $$

$$ \huge y = ax + \frac{1}{2}b  \sum x_i $$

## class

In [188]:
class FourCal:
    pass

In [189]:
a = FourCal()
type(a)

__main__.FourCal

In [192]:
class FourCal:
    def setdata(self, first, second):   # 클래스 안에 구현된 함수는 메서드
        self.first = first
        self.second = second

 - **코드셀**은 실행이 됩니다.

In [194]:
a = FourCal()
a.setdata(4,2)

a.first, a.second

(4, 2)

In [195]:
a = FourCal()
b = FourCal()

In [196]:
b.setdata(3,7)
b.first

3

In [197]:
# 더하기 기능 만들기

class FourCal:
    def setdata(self, first, second):   # 클래스 안에 구현된 함수는 메서드
        self.first = first
        self.second = second
        
    def add(self):
        result = self.first + self.second
        return result

In [13]:
a = FourCal()
a.setdata(4, 2)

In [15]:
print(a.add())

6

In [17]:
class FourCal:
    def setdata(self, first, second):   # 클래스 안에 구현된 함수는 메서드
        self.first = first
        self.second = second
        
    def add(self):
        result = self.first + self.second
        return result
    
    def mul(self):
        result = self.first * self.second
        return result
    
    def sub(self):
        result = self.first - self.second
        return result
    
    def div(self):
        result = self.first / self.second
        return result

In [18]:
a = FourCal()
b = FourCal()

In [19]:
a.setdata(4,2)
b.setdata(3,8)

In [20]:
a.add(), a.mul(), a.sub()

(6, 8, 2)

In [21]:
# 생성자
# setdata를 입력안하면


a = FourCal()
a.add()

AttributeError: 'FourCal' object has no attribute 'first'

In [22]:
class FourCal:
    def __init__(self, first, second):  # 객체가 생성되는 시점에 자동으로 호출
        self.first = first
        self.second = second
    
    def setdata(self, first, second):   
        self.first = first
        self.second = second
        
    def add(self):
        result = self.first + self.second
        return result
    
    def mul(self):
        result = self.first * self.second
        return result
    
    def sub(self):
        result = self.first - self.second
        return result
    
    def div(self):
        result = self.first / self.second
        return result

In [24]:
a = FourCal()

TypeError: __init__() missing 2 required positional arguments: 'first' and 'second'

In [26]:
a = FourCal(4,2)  #처음에 바로 입력해야함

### 클래스의 상속

In [29]:
class MoreFourCal(FourCal):
    def pow(self):
        result = self.first ** self.second
        return result

In [32]:
a = MoreFourCal(4,2)
a.pow(), a.add()

(16, 6)

In [33]:
# 메서드 오버라이딩

a = FourCal(4,0)
a.div()

ZeroDivisionError: division by zero

In [34]:
class SafeFourCal(FourCal):
    def div(self):
        if self.second == 0 :
            return 0 
        else :
            return self.first / self.second

In [35]:
a = SafeFourCal(4,0)

a.div()

0

In [43]:
# 클래스 변수

class Family : 
    lastname = "박"

In [44]:
Family.lastname

'박'

In [47]:
a = Family
a.lastname

'박'

In [48]:
a = Family()
a.lastname = "최"
a.lastname

'최'

In [49]:
Family.lastname

'박'

## 모듈 만들기

In [51]:
# module1

In [ ]:
def sayMyName():
    print("BlockDMask")


def addNumbers(*args):
    result = 0
    for val in args:
        result += val

    return result


def mulNumbers(*args):
    result = 1
    for val in args:
        result *= val

    return result

In [198]:
import module1

In [199]:
module1.sayMyName()

BlockDMask

In [201]:
from module1 import *  # 내재된 함수 다 불러오기

In [202]:
addNumbers(1,2,3,4,5)

15

In [203]:
mulNumbers(1,2,3,4,5)

120

In [204]:
module1.__name__

'module1'

In [65]:
x = "1,2,3,4,5,6,7,8,9"
a = x.split(",")
a

['1', '2', '3', '4', '5', '6', '7', '8', '9']

In [66]:
b = a.join(",")
b

AttributeError: 'list' object has no attribute 'join'

In [67]:
b = ",".join(a)
b

'1,2,3,4,5,6,7,8,9'

## 예외 처리

In [68]:
# try:
#     ...
# except [발생오류 [as 오류변수]] :
#     ...

In [69]:
try :
    4/0
except ZeroDivisionError as e:
    print(e)

division by zero

In [91]:
a = "이 데이터는 6입니다."
a/2

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [205]:
try :
    f = open("새파일.txt", "r")
    lines = f.readlines()
    for line in lines:
        if line == "이 데이터는 6입니다.\n":
            print(line/2)
        else : 
            print(line)
        
except TypeError as e:
    print(e)
    
finally:
    f.close()
    print("파일 닫힘")

이 데이터는 1입니다.

이 데이터는 2입니다.

이 데이터는 3입니다.

이 데이터는 4입니다.

이 데이터는 5입니다.

unsupported operand type(s) for /: 'str' and 'int'
파일 닫힘

In [97]:
try :
    f = open("새파일.txt", "r")
    lines = f.readlines()
    for line in lines:
        if line == "이 데이터는 6입니다.\n":
            print(line/2)
        else : 
            print(line)
        
except TypeError as e:
    pass
    
else :   
    
finally:
    f.close()
    print("파일 닫힘")

이 데이터는 1입니다.

이 데이터는 2입니다.

이 데이터는 3입니다.

이 데이터는 4입니다.

이 데이터는 5입니다.

파일 닫힘

In [206]:
f = open("새파일.txt", "r")
lines = f.readlines()

for line in lines:
    try:
        if line == "이 데이터는 6입니다.\n":
            print(line/2)
        else : 
            print(line)
        
    except TypeError as e:
        print(e)
    
f.close()
print("파일 닫힘")

이 데이터는 1입니다.

이 데이터는 2입니다.

이 데이터는 3입니다.

이 데이터는 4입니다.

이 데이터는 5입니다.

unsupported operand type(s) for /: 'str' and 'int'
이 데이터는 7입니다.

이 데이터는 8입니다.

이 데이터는 9입니다.

이 데이터는 12입니다.

이 데이터는 13입니다.

이 데이터는 14입니다.

이 데이터는 15입니다.

이 데이터는 16입니다.

이 데이터는 17입니다.

이 데이터는 18입니다.

이 데이터는 19입니다.

Life is too short, you need python
파일 닫힘

In [71]:
# 여러개 오류 처리

try :
    a = [1,2]
    print(a[3])
    4/0
    
except ZeroDivisionError :
    print("0으로 나눌 수 없습니다.")

except IndexError:
    print("인덱싱 할 수 없습니다.")

인덱싱 할 수 없습니다.

In [72]:
try :
    a = [1,2]
    print(a[3])
    4/0
    
except (ZeroDivisionError, IndexError) as e :
    print(e)

list index out of range

In [74]:
try:
    age = int(input("나이를 입력하세요 : "))

except:
    print("입력이 정확하지 않습니다.")
    
else:
    if age <= 18 :
        print("미성년자는 출입금지입니다.")
    else :
        print("환영합니다.")

나이를 입력하세요 : 20
환영합니다.

In [75]:
# 오류 회피하기

try:
    f = open("은호.txt","r")

except FileNotFoundError:
    pass

In [76]:
# 오류 일부러 발생시키기

class Bird:
    def fly(self):
        raise NotImplementedError

In [78]:
a = Bird()

a.fly()

NotImplementedError:

### 예외 만들기

In [79]:
class MyError(Exception) :
    pass

In [80]:
def say_nick(nick):
    if nick == "바보":
        raise MyError()
    print(nick)

In [82]:
say_nick("천사")
say_nick("바보")

천사

MyError:

In [83]:
try:
    say_nick("천사")
    say_nick("바보")

except MyError:
    print("허용되지 않는 별명입니다.")

천사
허용되지 않는 별명입니다.

In [84]:
try:
    say_nick("천사")
    say_nick("바보")
except MyError as e:
    print(e)

천사

In [85]:
class MyError(Exception):
    def __str__(self):        # error값은 __str__을 반환한다.
        return "허용되지 않는 별명입니다."

In [86]:
try:
    say_nick("천사")
    say_nick("바보")
except MyError as e:
    print(e)

천사
허용되지 않는 별명입니다.

## 내재 함수

In [100]:
dir([1])

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [101]:
dir({"은호":"nice"})

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [102]:
divmod(10,3)

(3, 1)

In [103]:
# filter(함수, 반복가능데이터) : 반환값이 참인 것만 묶어서 리턴
# 람다랑 같이 많이 사용

list(filter(lambda x:x > 0, [1,-3,2,0,-5,6]))

[1, 2, 6]

In [104]:
id(3)

2084070189424

In [105]:
list("python")

['p', 'y', 't', 'h', 'o', 'n']

In [107]:
# map(함수, iterable)

list(map(lambda x : x*2,[1,2,3,4]))

[2, 4, 6, 8]

In [108]:
b = "abcde"
b = list(b)
b

['a', 'b', 'c', 'd', 'e']

In [109]:
a = [1,2,3,4,5]

for i,j in zip(a,b):
    print(i,j)

1 a
2 b
3 c
4 d
5 e

## 표준 라이브러리

In [110]:
import datetime
import time

In [121]:
day = datetime.date(2019,12,14)
day

datetime.date(2019, 12, 14)

In [122]:
day1 = datetime.date(2019,12,14)
day2 = datetime.date(2020,12,14)

diff = day2-day1
diff.days

366

In [124]:
day.isoweekday() , day.weekday()

(6, 5)

In [127]:
import time

time.time()

1675231927.6016002

In [128]:
time.localtime(time.time())

time.struct_time(tm_year=2023, tm_mon=2, tm_mday=1, tm_hour=15, tm_min=12, tm_sec=53, tm_wday=2, tm_yday=32, tm_isdst=0)

In [131]:
time.asctime(time.localtime(time.time()))

'Wed Feb  1 15:14:09 2023'

In [133]:
time.ctime()  #현재 시간만 가능

'Wed Feb  1 15:14:39 2023'

In [139]:
time.asctime(time.localtime(time.time()))

'Wed Feb  1 15:17:18 2023'

In [140]:
import time
time.strftime('%x', time.localtime(time.time()))

TypeError: Tuple or struct_time argument required

In [137]:
time.strftime('%c', time.localtime(time.time()))

'Wed Feb  1 15:16:29 2023'

In [141]:
import time

for i in range(10):
    print(i)
    time.sleep(1)   # 1초 딜레이

0
1
2
3
4
5
6
7
8
9

In [142]:
import math

In [143]:
math.gcd(60,100,80)  #최대공약수

20

In [144]:
math.lcm()  # 최소공배수

1

In [146]:
import random

random.random()  # 0 ~ 1 사이의 실수 중에서 난수 값을 돌려준다.

0.03268728713667479

In [148]:
random.randint(1, 10) # 1~10사이의 값

9

In [149]:
import numpy as np

np.random.randint(1, 10, (2,3))

array([[6, 9, 7],
       [2, 4, 4]])

In [151]:
import random

def random_pop(data):
    number = random.randint(0, len(data)-1)
    return data.pop(number)

In [154]:
if True :
    data = [1, 2, 3, 4, 5]
    while data: 
        print(random_pop(data))

3
1
4
5
2

In [155]:
def random_pop(data):
    number = random.choice(data)
    data.remove(number)
    return number

In [156]:
a = [1,2,3,4,5]

random.sample(a, len(a))

[2, 4, 3, 1, 5]

In [157]:
# itertools.zip_longest(*iterables, fillvalue = None)

students = ['한민서', '황지민', '이영철', '이광수', '김승민']
snacks = ['사탕', '초컬릿', '젤리']

result = zip(students, snacks)
print(list(result))

[('한민서', '사탕'), ('황지민', '초컬릿'), ('이영철', '젤리')]

In [158]:
import itertools  # 원래는 짧은 것을 기준으로 하지만 이것은 긴 것을 기준으로

students = ['한민서', '황지민', '이영철', '이광수', '김승민']
snacks = ['사탕', '초컬릿', '젤리']

result = itertools.zip_longest(students, snacks, fillvalue='새우깡')
print(list(result))

[('한민서', '사탕'), ('황지민', '초컬릿'), ('이영철', '젤리'), ('이광수', '새우깡'), ('김승민', '새우깡')]

In [160]:
import itertools   # 3개중 2개를 선택하는 경우의 수 (순서 고려) : 순열?
list(itertools.permutations(["1","2","3"],2))

[('1', '2'), ('1', '3'), ('2', '1'), ('2', '3'), ('3', '1'), ('3', '2')]

In [161]:
import itertools  # 조합

list(itertools.combinations(['1', '2', '3'], 2))

[('1', '2'), ('1', '3'), ('2', '3')]

In [ ]:
it = itertools.combinations(range(1, 46), 6)

for num in it[1]:
    print(num)

In [167]:
len(list(itertools.combinations(range(1, 46), 6)))

8145060

In [ ]:
# 중복 조합(복원 추출)

itertools.combinations_with_replacement()

### functools.reduce

In [169]:
def add(data):
    result = 0 
    for i in data:
        result += i
    return result


data = [1,2,3,4,5]
result = add(data)
print(result)

15

In [170]:
import functools

data = [1, 2, 3, 4, 5]
result = functools.reduce(lambda x, y: x + y, data)
print(result)  # 15 출력


# ((((1+2)+3)+4)+5)

15

In [1]:
num_list = [3,2,8,1,6,7]

max_num = functools.reduce(lambda x,y : x if x > y else y, num_list)

print(max_num)

NameError: name 'functools' is not defined

### operator.itemgetter

In [172]:
students = [
    ("jane", 22, 'A'),
    ("dave", 32, 'B'),
    ("sally", 17, 'B'),]

In [173]:
from operator import itemgetter

result = sorted(students, key = itemgetter(1))  
# itemgetter : item의 튜플의 2번째 요소를 기준으로

print(result)

[('sally', 17, 'B'), ('jane', 22, 'A'), ('dave', 32, 'B')]

In [174]:
students = [
    {"name": "jane", "age": 22, "grade": 'A'},
    {"name": "dave", "age": 32, "grade": 'B'},
    {"name": "sally", "age": 17, "grade": 'B'},
]

result = sorted(students, key=itemgetter('age'))  #딕셔너리일 경우 key 입력
print(result)

[{'name': 'sally', 'age': 17, 'grade': 'B'}, {'name': 'jane', 'age': 22, 'grade': 'A'}, {'name': 'dave', 'age': 32, 'grade': 'B'}]

In [175]:
import os
os.environ

environ{'ALLUSERSPROFILE': 'C:\\ProgramData',
        'APPDATA': 'C:\\Users\\User\\AppData\\Roaming',
        'COMMONPROGRAMFILES': 'C:\\Program Files\\Common Files',
        'COMMONPROGRAMFILES(X86)': 'C:\\Program Files (x86)\\Common Files',
        'COMMONPROGRAMW6432': 'C:\\Program Files\\Common Files',
        'COMPUTERNAME': 'DESKTOP-L657DDQ',
        'COMSPEC': 'C:\\Windows\\system32\\cmd.exe',
        'DRIVERDATA': 'C:\\Windows\\System32\\Drivers\\DriverData',
        'FPS_BROWSER_APP_PROFILE_STRING': 'Internet Explorer',
        'FPS_BROWSER_USER_PROFILE_STRING': 'Default',
        'HOMEDRIVE': 'C:',
        'HOMEPATH': '\\Users\\User',
        'LOCALAPPDATA': 'C:\\Users\\User\\AppData\\Local',
        'LOGONSERVER': '\\\\DESKTOP-L657DDQ',
        'NUMBER_OF_PROCESSORS': '8',
        'ONEDRIVE': 'C:\\Users\\User\\OneDrive',
        'OS': 'Windows_NT',
        'PATH': 'C:\\Users\\User\\anaconda3;C:\\Users\\User\\anaconda3\\Library\\mingw-w64\\bin;C:\\Users\\User\\anaconda3\\Library\\usr\\bin;C:\\Users\\User\\anaconda3\\Library\\bin;C:\\Users\\User\\anaconda3\\Scripts;C:\\Windows\\system32;C:\\Windows;C:\\Windows\\System32\\Wbem;C:\\Windows\\System32\\WindowsPowerShell\\v1.0\\;C:\\Windows\\System32\\OpenSSH\\;C:\\Program Files\\Bandizip\\;C:\\Program Files\\Git\\cmd;C:\\Users\\User\\AppData\\Local\\Programs\\Python\\Python310\\Scripts\\;C:\\Users\\User\\AppData\\Local\\Programs\\Python\\Python310\\;C:\\Program Files\\MySQL\\MySQL Shell 8.0\\bin\\;C:\\Users\\User\\AppData\\Local\\Microsoft\\WindowsApps;C:\\Users\\User\\AppData\\Local\\Programs\\Microsoft VS Code\\bin',
        'PATHEXT': '.COM;.EXE;.BAT;.CMD;.VBS;.VBE;.JS;.JSE;.WSF;.WSH;.MSC',
        'PROCESSOR_ARCHITECTURE': 'AMD64',
        'PROCESSOR_IDENTIFIER': 'Intel64 Family 6 Model 142 Stepping 12, GenuineIntel',
        'PROCESSOR_LEVEL': '6',
        'PROCESSOR_REVISION': '8e0c',
        'PROGRAMDATA': 'C:\\ProgramData',
        'PROGRAMFILES': 'C:\\Program Files',
        'PROGRAMFILES(X86)': 'C:\\Program Files (x86)',
        'PROGRAMW6432': 'C:\\Program Files',
        'PSMODULEPATH': 'C:\\Program Files\\WindowsPowerShell\\Modules;C:\\Windows\\system32\\WindowsPowerShell\\v1.0\\Modules',
        'PUBLIC': 'C:\\Users\\Public',
        'SESSIONNAME': 'Console',
        'SYSTEMDRIVE': 'C:',
        'SYSTEMROOT': 'C:\\Windows',
        'TEMP': 'C:\\Users\\User\\AppData\\Local\\Temp',
        'TMP': 'C:\\Users\\User\\AppData\\Local\\Temp',
        'USERDOMAIN': 'DESKTOP-L657DDQ',
        'USERDOMAIN_ROAMINGPROFILE': 'DESKTOP-L657DDQ',
        'USERNAME': 'User',
        'USERPROFILE': 'C:\\Users\\User',
        'VBOX_MSI_INSTALL_PATH': 'C:\\Program Files\\Oracle\\VirtualBox\\',
        'WINDIR': 'C:\\Windows',
        'CONDA_PREFIX': 'C:\\Users\\User\\anaconda3',
        'JPY_INTERRUPT_EVENT': '2408',
        'IPY_INTERRUPT_EVENT': '2408',
        'JPY_PARENT_PID': '2508',
        'TERM': 'xterm-color',
        'CLICOLOR': '1',
        'FORCE_COLOR': '1',
        'CLICOLOR_FORCE': '1',
        'PAGER': 'cat',
        'GIT_PAGER': 'cat',
        'MPLBACKEND': 'module://matplotlib_inline.backend_inline'}

In [176]:
os.system("dir")

0

In [177]:
 os.getcwd()

'C:\\Users\\User\\KT AIVLE SCHOOL\\python'

In [178]:
a = 1 ; b = 2 ; c = 3

In [179]:
a, b, c

(1, 2, 3)

In [180]:
import json

In [181]:
from fractions import Fraction
import sympy


x = sympy.symbols("x")
x

x

In [184]:
f = sympy.Eq(x*Fraction('2/5'), 1760)
f

Eq(2*x/5, 1760)

In [185]:
result = sympy.solve(f)
result

[4400]

In [2]:
while True :
    b = 10
    a = int(input("숫자를 입력하세요 : "))
    try :
        if b/a == 1 :
            break
        else :
            print(b/a)
    except :
        print("error")

숫자를 입력하세요 : 1
10.0
숫자를 입력하세요 : 2
5.0
숫자를 입력하세요 : 3
3.3333333333333335
숫자를 입력하세요 : 0
error
숫자를 입력하세요 : 0
error
숫자를 입력하세요 : 10